// FONTS
$font-body: 'Open Sans', 'Arial', sans-serif;
$font-title: 'Roboto', 'Arial', sans-serif;

// COLORS
$primary: #ff7043;
$primary-light: #ffa270;
$primary-dark: #c63f17;
$text-color: #000;
$secondary: #bdbdbd;
$secondary-light: #efefef;
$secondary-dark: #8d8d8d;
